# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [42]:
import pandas as pd
import numpy as np
from scipy import stats
import math

In [2]:
data = pd.io.stata.read_stata('us_job_market_discrimination.dta')

In [33]:
# number of callbacks for black-sounding names
sumb= sum(data[data.race=='b'].call)
sumw = sum(data[data.race=='w'].call)

#Number of those with black and white sounding names. There are enough samples and it is randomly assigned. CLT applies. 
nb= len(data[data.race=='w'])
nw = len(data[data.race=='b'])

rb = sumb/nb
rw = sumw/nw



#Using two sample z test since we are testing for difference

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [ ]:
#Question 2
#Null hypothesis is that there is no difference in the callback rates for black or white names
#Alternative hypothesis is that there is a difference
#signifcance level of 0.05

In [44]:
#Question 3


W = data[data.race=='w'].call
B = data[data.race=='b'].call

#print(stats.CompareMeans(stats.DescrStatsW(W), stats.DescrStatsW(B)))
#P value is small so we can reject null hypothesis that there is no difference. Not working so calculating from scratch

p = rw-rb
std = math.sqrt((rw * (1-rw) / nw) + (rb * (1-rb)/nb))
z_score = 1.96
ME = z_score * std
lower = p - ME
upper = p + ME


prop=sum(data.call)/len(data)
SE=((prop*(1-prop)/nb)+(prop*(1-prop)/nw))**0.5
zScore=(rw-rb)/SE
p_value = stats.norm.sf(abs(zScore))# using one-sided test
ME, lower, upper, p_value

#p value lower than threshold, reject null

(0.015255406349886438,
 0.016777447859559147,
 0.047288260559332024,
 1.9919434187925383e-05)

In [ ]:
#Question 4

#Given our two sample t test analysis done above, we have determined that there is a difference between the two samples 

#Question 5
#This does not mean that name is the most important factor, it just has a significant impact. However, experience and education could also have an impact. I would test all factors and determine which has the most statstical significance